<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>SmartClean Admin</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link href="{% static 'accounts/styles.css' %}"  rel="stylesheet" type="text/css">
	<link rel="icon" href="{% static 'accounts/cityclean.png' %}" type="image/gif" sizes="16x16">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	
    
</head>
<body>

<ul>
		<li style="font-size:14px; font-weight: bold;"><a href="https://app-smartclean.herokuapp.com/home"><img src="{% static 'accounts/cityclean.png' %}" width="25" height="25"> Hi {{ user.username }} </a></li>
		<li style="float:right;"><a href="https://app-smartclean.herokuapp.com/accounts/logout/">Logout</a></li>
		<li style="float:right;"><a href="https://app-smartclean.herokuapp.com/viewReports/">View Reports</a>
		</li>
		<li style="float:right;"><a href="https://app-smartclean.herokuapp.com/viewRequest/">View Requests</a></li>
		<li style="float:right;"><a href="https://app-smartclean.herokuapp.com/home/">TrashMap</a></li>
		<li style="float:right;"><a href="https://app-smartclean.herokuapp.com/admin/auth/user/">View the Users</a></li>			
</ul>

<!-- Mobile nav bar -->
<div class="topnav">
  <a href="https://app-smartclean.herokuapp.com/home" class="active"><img src="{% static 'accounts/cityclean.png' %}" width="25" height="25">Hi {{ user.username }}</a>
  <div id="myLinks">
    <a href="https://app-smartclean.herokuapp.com/home/">TrashMap</a>
    <a href="https://app-smartclean.herokuapp.com/viewReports/" >View Reports</a>
    <a href="https://app-smartclean.herokuapp.com/viewRequest/" >View Requests</a>
    <a href="https://app-smartclean.herokuapp.com/admin/auth/user/" >View the Users</a>
    <a href="https://app-smartclean.herokuapp.com/accounts/logout/">Logout</a>
  </div>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>

<br><br><br>
<h1>Step 1</h1>
<h2> Choose the location</h2>
<div id="map-holder"></div>

<script src="{% static 'accounts/addEditor.js' %}"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCFCh5CMPIA0QLobmOuU-OJsa65KAHHImc&libraries=visualization&callback=myMap">
</script>

<form action="garbage/" method= "post">
	{%csrf_token%}
	<h1>Step 2 </h1> 
	Dumpster: <img src="{% static 'accounts/dumpster.png' %}" alt="dumpster" width="20" height="20">,
	Bin: <img src="{% static 'accounts/bin.png' %}" alt="bin" width="20" height="20">,
	Recycle Dump: <img src="{% static 'accounts/Recycle.png' %}" alt="bin" width="20" height="20"><br>
	<label for="markertype">Choose a garbage type:</label>
	<select id="markertype" name="markertype">
		<option>Select:</option>
		<option  value="1">Dumpster</option>
		<option  value="2">Bin</option>
		<option  value="3">Recycle Dumpster</option>
	</select>

	<input type="hidden" id="myLat" name="lat" />
	<input type="hidden" id="myLng" name="lng" />
	 
	<center><input type="submit" value="Send the Request"></center> 
</form>

<!-- script for mobile nav bar -->
<script>
function myFunction() {
  var x = document.getElementById("myLinks");
  if (x.style.display === "block") {
    x.style.display = "none";
  } else {
    x.style.display = "block";
  }
}
</script>
<script>
function closeNavbar() {
  var x = document.getElementById("myLinks");
  if (x.style.display === "block") {
    x.style.display = "none";
  } else {
    x.style.display = "block";
  }
}
</script>



</body>