{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>SingUp</title>
	<link rel="icon" href="{% static 'accounts/cityclean.png' %}" type="image/gif" sizes="16x16">
<style>
h3.ex{
	margin-top: 11%;
	margin-right: 4%;
}
p.ex1 {
  margin-top: 0%;
  margin-right: 7%;
}
p.ex2 {
  margin-top: 0%;
  margin-right: 5%;
}
p.ex3 {
  margin-top: 0%;
  margin-right: 9%;
}
</style>
{% load static %}
</head>
<body>
	<h3 class="ex" align="center"><img src="{% static 'accounts/cityclean.png' %}"  width="40" height="40">SmartClean Register </h3>
	<form method="POST">
		{% csrf_token %}
		<p class="ex1" align="center"> Username:{{ form.username }}</p>
		<p class="ex2" align="center"> Email: {{ form.email }}</p>
		<p class="ex3" align="center"> Retype email:{{ form.email2 }}</p>
		<p class="ex1" align="center"> Password:{{ form.password }}</p>
		<p align="center"><input type="submit" value="Sing up" ></p>
		{% if form.errors %}
   			{% for field in form %}
        		{% for error in field.errors %}
            		<div align="center" class="alert alert-danger">
                		<strong>{{ error|escape }}</strong>
            		</div>
        		{% endfor %}
    		{% endfor %}
    		{% for error in form.non_field_errors %}
        	<div align="center" class="alert alert-danger">
            	<strong>{{ error|escape }}</strong>
        	</div>
    		{% endfor %}
		{% endif %}
		
	</form>
		


</body>
</html>